//site-footer styles 
.site-footer {
  background: $darkGrey;
  margin: 3em 0 0;
  padding: 3em 0;
  color: $white;
  position: relative;
  z-index: 4;

  .footer {
    &-top,
    &-bottom {
      display: block;
      width: 100%;

      @include desktop {
        display: inline-flex;
      }

      li {
        transition: all .2s ease-in-out;

        &:hover {
          color: $red;
        }
      }

      .footer {
        &-left,
        &-right,
        &-links,
        &-copyright {
          width: 100%;
          line-height: 1.5;
        }

        &-left {
          .footer-title {
            font-size: calc-em(28px);
            font-weight: $bold;
            margin: 0;
          }
        }

        &-right {
          // font-size: calc-em(15px);

          @include desktop {
            text-align: right;
            padding: 5em 0 0;
          }

          .quicklinks,
          .sociallinks {
            display: block;
            padding: 0;
            margin: 0;
            list-style-type: none;

            @include desktop {
              display: inline-block;
              margin: 0 0 0 1em;
            }

            li {
              display: block;
              margin: 1em 0;

              @include desktop {
                display: inline-block;
                margin: 0 1em;
              }

              &:last-child {
                margin: 1em 0 0 0;

                @include desktop {
                  margin: 0 0 0 1em;
                }
              }

              a {
                font-size: calc-em(18px);
                font-weight: $medium;
              }
            }
          }

          .sociallinks {
            display: none;

            @include desktop {
              display: inline-block;
            }

            li {
              @include desktop {
                display: inline-block;
                margin: 0 0.5em;
              }

              &:last-child {
                margin: 0.5em 0 0 0;

                @include desktop {
                  margin: 0 0 0 0.5em;
                }
              }

              a {
                font-size: calc-em(20px);
                font-weight: $medium;
              }
            }
          }
        }

        &-links,
        &-copyright {
          font-size: calc-em(16px);
          font-weight: $medium;
        }

        &-links {
          .bottomlinks {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
              display: block;
              margin: 1em 0;

              @include desktop {
                display: inline-block;
                margin: 0 0.5em;
              }

              &:first-child {
                margin: 0 0 0.5em 0;

                @include desktop {
                  margin: 0 0.5em 0 0;
                }
              }
            }
          }
        }

        &-copyright {
          margin: 2em 0 0;

          @include desktop {
            margin: 0;
            text-align: right;
          }
        }
      }
    }

    &-top {
      padding: 0 0 25px 0;
      border-bottom: 1px solid #636363;
    }

    &-bottom {
      padding: 25px 0 0 0;
    }
  }
}