extends ../_layouts/base

include ../_modules/molecules/breadcrumbs/breadcrumbs
include ../_modules/molecules/title/title
include ../_modules/molecules/spotlight/spotlight
include ../_modules/molecules/listing/listing
include ../_modules/molecules/partners-logo/partners-logo
include ../_modules/organisms/home-carousel/home-carousel

block config
	//- Correct base url pathing for this page
	- isHome = false
	- var pageTitle = 'Made For Families Partners'
	- var page = 'about us'
	- var site = htmlWebpackPlugin.options //global site data
	- var baseUrl = '../'

block content
	+breadcrumbs({
		'level1': 'About Us',
		'level1URL': '#',
		'level2': 'Made For Families Partners'
	})

	+title({
		'title': 'Deals Made For Families',
		'desc': 'Click on the Brands below to find out more about the various deals that are Made For Families!'
	})

	+partners-logo({
		'logos': [
			{
				'img': '/assets/images/partners/logo1.png',
				'url': '#'
			},
			{
				'img': '/assets/images/partners/logo2.png',
				'url': '#'
			},
			{
				'img': '/assets/images/partners/logo3.png',
				'url': '#'
			},
			{
				'img': '/assets/images/partners/logo4.png',
				'url': '#'
			},
			{
				'img': '/assets/images/partners/logo5.png',
				'url': '#'
			},
			{
				'img': '/assets/images/partners/logo6.png',
				'url': '#'
			},
			{
				'img': '/assets/images/partners/logo7.png',
				'url': '#'
			},
			{
				'img': '/assets/images/partners/logo8.png',
				'url': '#'
			}
		]
	})

	+spotlight({
		'title': 'In the Spotlight',
		'items': [
			{
				'img': '/assets/images/spotlight/spotlight-img1.png',
				'imgTitle': 'Image 1',
				'title': 'Building Strong Family Ties',
				'logo': '/assets/images/spotlight/ohmyhome-logo.png',
				'logoTitle': 'Oh My Home',
				'url': '/standard-page'
			},
			{
				'img': '/assets/images/spotlight/spotlight-img2.png',
				'imgTitle': 'Image 2',
				'title': 'Meeting the Challenges: The Future of the Family in Singapore',
				'logo': '/assets/images/spotlight/mothercare-logo.png',
				'logoTitle': 'Mothercare',
				'url': '/standard-page'
			},
			{
				'img': '/assets/images/spotlight/spotlight-img3.png',
				'imgTitle': 'Image 3',
				'title': 'Happily Married? A 10-Step Relationship Assessment',
				'logo': '/assets/images/spotlight/fathering-logo.png',
				'logoTitle': 'Centre for Fathering',
				'url': '/standard-page'
			},
			{
				'img': '/assets/images/spotlight/spotlight-img2.png',
				'imgTitle': 'Image 2',
				'title': 'Meeting the Challenges: The Future of the Family in Singapore 2',
				'logo': '/assets/images/spotlight/mothercare-logo.png',
				'logoTitle': 'Mothercare',
				'url': '/standard-page'
			},
			{
				'img': '/assets/images/spotlight/spotlight-img1.png',
				'imgTitle': 'Image 1',
				'title': 'Building Strong Family Ties 2',
				'logo': '/assets/images/spotlight/ohmyhome-logo.png',
				'logoTitle': 'Oh My Home',
				'url': '/standard-page'
			},
			{
				'img': '/assets/images/spotlight/spotlight-img3.png',
				'imgTitle': 'Image 3',
				'title': 'Happily Married? A 10-Step Relationship Assessment 2',
				'logo': '/assets/images/spotlight/fathering-logo.png',
				'logoTitle': 'Centre for Fathering',
				'url': '/standard-page'
			}
		]
	})

	+listing({
    'title': 'Our Partners',
    'desc': 'To date, we have a total of 20 partners that have come onboard the Made For Families initiative. If your organisation has products, services or programmes that are catered for families, join the Made For Families initiative! Find out more <a href="#" target="_blank">here</a>.',
		'endpoint': '/api/partnersListing.json',
    'url': '/partners-page',
		'filter': [
			{
				'type': 'select',
				'settings': {
					"input": {
						"name": "category",
						"id": "category",
						"label": "Category"
					},
					"options": [
						{
							'label': 'All',
							'value': 'all'
						},
						{
							'label': 'Community Group',
							'value': 'cat-op01'
						},
						{
							'label': 'Finance',
							'value': 'cat-op02'
						},
						{
							'label': 'Food & Beverage',
							'value': 'cat-op03'
						},
						{
							'label': 'Government Agencies',
							'value': 'cat-op04'
						},
						{
							'label': 'Healthcare',
							'value': 'cat-op05'
						},
						{
							'label': 'Hospitality',
							'value': 'cat-op06'
						},
						{
							'label': 'Information Site',
							'value': 'cat-op07'
						},
						{
							'label': 'Leisure& Entertainment',
							'value': 'cat-op08'
						}
					]
				}
			},
			{
				'type': 'search',
				'settings': {
					"input": {
						"name": "q",
						"id": "partners-search",
						"placeholder": "Search"
					}
				}
			}
		],
    'btnFilter': false,
		'pagination': 'partners-page'
	})

	+partnerList()