// custom-checkbox styles
.custom-checkbox {
	& + label {
		cursor: pointer;
		padding: 0;
		position: relative;
    font-size: calc-em(14px);
    display: block;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: text-top;
			width: 24px;
      height: 24px;
      border-radius: 4px;
			background-color: $white;
			margin-right: 10px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 100%;
      border: 1px solid $grey;
      transition: all .2s ease-in-out;
		}

		&:after {
			font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\ead9";
			display: inline-block;
      color: $white;
      // background: $red;
      background: transparent;
			opacity: 0;
			position: absolute;
			top: 50%;
      // transform: translate(-15px, -50%);
      
      transform: scale(0);
      transition: transform .15s $easeInOutExpo, opacity .15s ease-in-out, visibility .15s ease-in-out;
      visibility: hidden;

			right: 100%;
      font-size: calc-em(17px);
      width: 24px;
      height: 24px;
      margin-right: -5px;
      border: 1px solid $grey;
      border-radius: 4px;
      // padding: 4px;

      padding: 4px;
      top: 0px;
      left: -34px;
		}
	}

	&:checked + label {
    &:before {
      background: $red;
      border: 1px solid $red;
    }
    
		&:after {
      // opacity: 1;
      background: $red;
      border: 1px solid $red;
      opacity: 1;
      transform: scale(1);
      visibility: visible;
		}
	}
}
