extends ../_layouts/base

include ../_modules/molecules/breadcrumbs/breadcrumbs
include ../_modules/molecules/title/title

block config
	//- Correct base url pathing for this page
	- isHome = false
	- var pageTitle = 'Search Results'
	- var page = 'search'
	- var site = htmlWebpackPlugin.options //global site data
	- var baseUrl = '../'

block content
	+title({
		'title': 'Search Result Page',
	})

	p search-result page
