//latest-updates styles 
.latest-updates {
  padding: 1em 0;

  @include desktop {
    padding: 3em 0;
  }

  .updates {
    &-wrap {
      width: 100%;
      margin: 2em 0 0;
      padding: 0;
      display: block;

      @include tablet {
        display: inline-flex;
        justify-content: center;
        padding: 0px;
      }

      @include desktop {
        display: inline-flex;
        justify-content: center;
        padding: 0 20px;
      }
    }

    &-item {
      width: 100%;
      margin: 2em 0 2em;

      @include tablet {
        width: 50%;
        margin: 0 5px;
      }

      @include desktop {
        // width: 340px;
        width: 50%;
        max-width: 500px;
        margin: 0 5px;
      }

      @include lgDesktop {
        margin: 0 2em;
      }
    }
  }
}