mixin sidebar(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.sidebar(class=spec.__class)&attributes(attributes)
		ul.sidebar-menu
			each link, index in spec.menu
				li.menu-item
					a(href=link.url)= link.title
					
					if link.sub
						.menu-sub
							ul.sub-nav
								each sub, index in link.sub
									li.sub-item
										a(href=sub.url)= sub.title