include ../../atoms/sg-banner/sg-banner
include ../../molecules/site-nav/site-nav
include ../../molecules/notification/notification
include ../../molecules/mega-menu/mega-menu

mixin site-header(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.site-header(class=spec.__class)&attributes(attributes)
		+sg-banner()
		.menu-overlay
		.header-wrap
			.container
				.logo-wrap
					a(href="/")
						img(src="/assets/images/mff_logo.png" title="Made For Families Logo" alt="Made for Families Logo" width="180" height="42")
				
				+site-nav({
					"navs": site.data.navigation.primaryNav
				})

		+mega-menu({
			"items": site.data.navigation.primaryNav
		})

		+notification()
		
		.main-search.desktop-only
			.container
				.search-wrap(data-action='https://cse.google.com/cse' data-api='015729528517137884908:id9feqvbf9g')
					label.vh(for="searchDesktop") Search
					input.search__input(type="search" placeholder="Search..." name="searchQuery" id="searchDesktop")