//Normalize styles
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/slick-carousel/slick/slick';

@import "./_mixins";
@import "./_variables";
@import "./_helpers";
@import "./_fonts";

//Icomoon
@import "../_icomoon/variables";
@import "../_icomoon/style";

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  font-size: $base-fontsize;
}

body {
  font-family: $primaryFont;
  margin: 0;
  padding: 0;
  color: $negro;
  line-height: $base-lineheight;

  header {
    position: relative;
    z-index: 5;
  }

  &.fixed {
    overflow: hidden;
  }

  a {
    text-decoration: none;
    color: inherit;
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
      outline: 0;
    }
  }

  h1,h2,h3,h4 {
    line-height: 1.2;
  }

  h1 {
    font-size: calc-em(30px);
  
    @include desktop {
      font-size: calc-em(40px);
    }
  }

  h2 {
    font-size: calc-em(28px);
  
    @include desktop {
      font-size: calc-em(36px);
    }
  }

  h3 {
    font-size: calc-em(24px);
  
    @include desktop {
      font-size: calc-em(28px);
    }
  }

  h4 {
    font-size: calc-em(16px);
  
    @include desktop {
      font-size: calc-em(16px);
    }
  }

  iframe {
    border: none;
  }

  main {
    min-height: 500px;

    .rte,
    .sfContentBlock {
      margin: 0 0 2em;

      p {
        &:first-child {
          margin-top: 0;
        }
      }

      a {
        text-decoration: underline;
        color: $red;
        
        &:hover {
          color: $red;
        }
      }

      hr {
        margin: 3em 0;
        display: block;
        border: 0;
        height: 1px;
        background: $lightGrey;
      }

      ul {
        padding: 0 0 0 20px;
        margin: 5px 0 0;

        a {
          // text-decoration: none;
          color: $red;
        }
      }

      .bord-bot {
        border-bottom: 1px solid #cfcfcf;
      }
    }

    .embed-responsive {
      width: 100%;
      height: 420px;
      overflow-x: hidden;
      resize: vertical;
      min-height: 420px;
    }

    .embed-responsive {
      position: relative;
      display: block;
      height: 0;
      padding: 0;
      overflow: hidden;
    }

    .embed-responsive-16by9 {
      padding-bottom: 56.25%;
    }

    .embed-responsive .embed-responsive-item, 
    .embed-responsive embed, 
    .embed-responsive iframe, 
    .embed-responsive object, 
    .embed-responsive video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
    
    .sform {
      box-shadow: 0 3px 8px rgba(0,0,0,0.2%);
      border-radius: 8px;
      padding: 0 20px 20px 20px;
      margin: 0 0 3em;

      #ShareThis_C031_Col00, #ShareThis_C011_Col00 {
        padding-top: 15px;

        .suggestion {
          margin-top: 20px;

          label {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 1.556em!important;
            color: #2a7ab7!important;
            font-weight: 700!important;
            padding: 0 0 10px 0;
          }

          textarea {
            width: 100%;
            min-height: 120px;
            border-radius: 4px;
            margin-bottom: 20px;
            padding: 5px 8px;
            font-size: calc-em(17px);
            line-height: 1.3;
          }

          label[for=Textbox-1] {
            font-size: 14px!important;
          }

          button {
            margin-top: 15px;
          }

          button {
            background: #b65f0e;
            min-width: 120px;
            font-weight: 700;
            border-radius: 4px;
            padding: 10px 20px;
            color: #fff;

            &:hover,
            &:focus {
              outline: 0;
            }
          }
        }
      }
    }
  }
}

*{
  color-adjust: exact; 
  -webkit-print-color-adjust: exact; 
  print-color-adjust: exact; 
}

// Galleria Widget
.galleria-container {
  &.galleria-theme-classic {
    .galleria-counter {
      position: absolute;
      bottom: 10px;
      left: unset !important;
      right: 10px !important;
      text-align: right;
      color: #fff;
      font: 400 11px/1 arial,sans-serif;
      z-index: 1;
    }

    .galleria-info {
      bottom: 85px !important;
      top: auto !important;
    }
  }
}

// Print layout
@media print {
  body {
    header {
      .nav-mobile {
        display: none;
      }
    }
    
    .carousel-home {
      .carousel-wrap {
        .carousel-item {
          .carousel-item__wrap {
            .carousel-img {
              position: relative;
              height: 400px;
              width: 100vw;
  
              img {
                width: 100%;
                height: auto;
                
                &.desktop-only {
                  display: none;
                }
              }
            }

            .carousel-info {
              width: 100vw;
              height: 400px;
              position: relative;
              z-index: 2;
              top: 0;
              left: 0;

              .info {
                padding: 0;
                width: 100%;
              }
            }
          }
        }
      }

      .carousel-dots {
        position: relative;
        margin: 20px 0 0;
      }
    }

    .latest-updates {
      .updates-wrap {
        display: block;

        .updates-item {
          width: 100%;

          .carousel {
            .carousel-item {
              height: 500px;
            }
          }
        }
      }
    }

    .partners-logo {
      .row {
        .partners-logo__item {
          width: 50%;
          height: 150px;
        }
      }
    }

    .listing-wrap {
      .list {
        .partners-item {
          width: 100%;

          .partners-wrap {
            .partners-content {
              position: relative;
              padding: 0 10px;
              width: 100%;
              left: 0;
              right: unset;
              margin-left: 0;
              margin-right: 0;
            }
          }
        }
      }
    }

    footer {
      background: $darkGrey;
    }
  }
}

@import "../_modules/atoms/custom-checkbox/custom-checkbox";
@import "../_modules/atoms/sg-banner/sg-banner";
@import "../_modules/atoms/button/button";
@import "../_modules/atoms/card/card";
@import "../_modules/atoms/scroll-top/scroll-top";
@import "../_modules/atoms/video-player/video-player";
@import "../_modules/atoms/carousel/carousel";
@import "../_modules/molecules/site-nav/site-nav";
@import "../_modules/molecules/site-search/site-search";
@import "../_modules/molecules/mega-menu/mega-menu";
@import "../_modules/molecules/breadcrumbs/breadcrumbs";
@import "../_modules/molecules/title/title";
@import "../_modules/molecules//title-share/title-share";
@import "../_modules/molecules/two-column/two-column";
@import "../_modules/molecules/latest-updates/latest-updates";
@import "../_modules/molecules/article-header/article-header";
@import "../_modules/molecules/share/share";
@import "../_modules/molecules/pagination/pagination";
@import '../_modules/molecules/list-filter/list-filter';
@import "../_modules/molecules/listing/listing";
@import "../_modules/molecules/multi-filter/multi-filter";
@import "../_modules/molecules/select-dropdown/select-dropdown";
@import "../_modules/molecules/search/search";
@import "../_modules/molecules/spotlight/spotlight";
@import "../_modules/molecules/partners-logo/partners-logo";
@import "../_modules/molecules/sidebar/sidebar";
@import "../_modules/molecules/tabs/tabs";
@import "../_modules/molecules/accordion/accordion";
@import "../_modules/molecules/notification/notification";
@import "../_modules/organisms/article-block/article-block";
@import "../_modules/organisms/site-header/site-header";
@import "../_modules/organisms/site-footer/site-footer";
@import "../_modules/organisms/home-carousel/home-carousel";