//Normalize styles
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/slick-carousel/slick/slick';

@import "./_mixins";
@import "./_variables";
@import "./_helpers";
@import "./_fonts";

//Icomoon
@import "../_icomoon/variables";
@import "../_icomoon/style";

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  font-size: $base-fontsize;
}

body {
  font-family: $primaryFont;
  margin: 0;
  padding: 0;
  color: $negro;
  line-height: $base-lineheight;

  &.fixed {
    overflow: hidden;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      outline: 0;
    }
  }

  h1,h2,h3,h4 {
    line-height: 1.2;
  }

  h1 {
    font-size: calc-em(30px);
  
    @include desktop {
      font-size: calc-em(40px);
    }
  }

  h2 {
    font-size: calc-em(28px);
  
    @include desktop {
      font-size: calc-em(36px);
    }
  }

  h3 {
    font-size: calc-em(24px);
  
    @include desktop {
      font-size: calc-em(28px);
    }
  }

  h4 {
    font-size: calc-em(16px);
  
    @include desktop {
      font-size: calc-em(16px);
    }
  }

  main {
    min-height: 500px;

    .rte {
      p {
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

@import "../_modules/atoms/custom-checkbox/custom-checkbox";
@import "../_modules/atoms/sg-banner/sg-banner";
@import "../_modules/atoms/button/button";
@import "../_modules/atoms/card/card";
@import "../_modules/atoms/scroll-top/scroll-top";
@import "../_modules/atoms/video-player/video-player";
@import "../_modules/atoms/carousel/carousel";
@import "../_modules/molecules/site-nav/site-nav";
@import "../_modules/molecules/site-search/site-search";
@import "../_modules/molecules/mega-menu/mega-menu";
@import "../_modules/molecules/breadcrumbs/breadcrumbs";
@import "../_modules/molecules/title/title";
@import "../_modules/molecules/two-column/two-column";
@import "../_modules/molecules/latest-updates/latest-updates";
@import "../_modules/molecules/article-header/article-header";
@import "../_modules/molecules/share/share";
@import "../_modules/molecules/pagination/pagination";
@import '../_modules/molecules/list-filter/list-filter';
@import "../_modules/molecules/listing/listing";
@import "../_modules/molecules/multi-filter/multi-filter";
@import "../_modules/molecules/select-dropdown/select-dropdown";
@import "../_modules/molecules/search/search";
@import "../_modules/molecules/spotlight/spotlight";
@import "../_modules/molecules/partners-logo/partners-logo";
@import "../_modules/organisms/article-block/article-block";
@import "../_modules/organisms/site-header/site-header";
@import "../_modules/organisms/site-footer/site-footer";
@import "../_modules/organisms/home-carousel/home-carousel";