include ../../atoms/button/button

mixin site-search(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.site-search(class=spec.__class)&attributes(attributes)
		.search-wrap(data-action='https://cse.google.com/cse' data-api='015729528517137884908:id9feqvbf9g')
			i.icon.icon-search
			label.vh(for="searchMobile") Search
			input.search__input(type="search" placeholder="Search..." name="searchQuery" id="searchMobile")
		.search-button
			+button({
				'__text': '',
				'__type': 'button',
				'__class': 'btn--header-search',
				'__iconAfter': 'icon-search',
				'__arialabel': 'Search'
			})

