$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/assets/fonts" !default;

$icon-facebook: "\ea90";
$icon-whatsapp: "\ea93";
$icon-twitter: "\ea96";
$icon-linkedin: "\eaca";
$icon-email: "\eacb";
$icon-sgcrest: "\eacc";
$icon-youtube: "\eacd";
$icon-larrow-up: "\eace";
$icon-larrow-down: "\ead4";
$icon-larrow-left: "\ead5";
$icon-larrow-right: "\ead6";
$icon-arrow-up: "\ead3";
$icon-arrow-down: "\eacf";
$icon-arrow-left: "\ead0";
$icon-arrow-right: "\ead1";
$icon-search: "\ead2";
$icon-close: "\ead7";
$icon-box-arrow: "\ead8";
$icon-check: "\ead9";

