//sg-banner styles
.sg-gov_banner {
  background: $sgGray;
  padding: 8px 0;
  position: relative;
  z-index: 1;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;

    .icon {
      color: $sgRed;
      font-size: calc-em(20px);
      margin: 0 5px 0 0;
    }

    span {
      font-size: calc-em(13px);
      color: $negro;
    }
  }
}