extends ../_layouts/base

include ../_modules/molecules/breadcrumbs/breadcrumbs
include ../_modules/molecules/article-block/article-block
block config
  //- Correct base url pathing for this page
  - isHome = false
  - var pageTitle = 'Parenting Beyond Academic Achievements'
  - var page = 'article'
  - var site = htmlWebpackPlugin.options //global site data
  - var baseUrl = '../'

block content
  +breadcrumbs({
    'level1': 'Resources',
    'level2': 'Made For Families Stories',
    'level3': 'Parenting Beyond Academic Achievements'
  })

  +article-block()
