//tabs styles 
.tabs {
  $p: &;

  &__nav {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    
    padding: 0;
    border-top: 1px solid $lightGrey;
    border-bottom: 1px solid $lightGrey;

    @include tablet {
      width: 100%;
      left: unset;
      right: unset;
      margin: 4em 0 1em;
      padding: 0;
    }

    @include desktop {
      width: 100%;
      left: unset;
      right: unset;
      margin: 4em 0 1em;
      padding: 2em 0 0;
    }

    &--wrap {
      display: inline-flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    &--link {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 1em 0 0;
      border-right: 1px solid $lightGrey;

      &:last-child {
        border-right: none;
      }

      @include desktop {
        padding: 0;
        border-right: none;
      }

      &.is-active {
        .btn--tabs {
          .btn {
            &__text {
              font-weight: $bold;
            }
          }

          &:after {
            transform: scaleX(1);
          }
        }
      }

      .btn--tabs {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        border: none;
        border-radius: 0;
        padding: 0 0 1em;
        cursor: pointer;

        @include tablet {
          padding: 0 10px 1em;
        }

        @include desktop {
          width: auto;
          display: inline-flex;
          align-items: center;
          flex-wrap: nowrap;
          justify-content: space-between;
          text-align: left;
        }

        &:after {
          display: block;
          content: '';
          background: $red;
          height: 3px;
          width: 100%;
          position: absolute;
          bottom: 0;
          transform: scaleX(0);
          transition: all .2s ease-in-out;
        }

        .btn {
          &__text {
            width: 100%;
            font-weight: $normal;
            font-size: calc-em(19px);
            color: $negro;
            transition: all .2s ease-in-out;
            text-align: center;
            order: 2;

            @include desktop {
              text-align: left;
              order: 1;
            }
          }

          &__img {
            display: inline-block;
            width: 100%;
            height: 25px;
            margin: 0 0 10px;
            text-align: center;
            order: 1;

            @include desktop {
              width: auto;
              text-align: left;
              margin: 0 0 0 20px;
              order: 2;
            }

            img {
              width: auto;
              height: 100%;
            }
          }
        }
      }
    }
  }

  &__content {
    .content {
      &__wrap {
        display: none;

        .sfContentBlock {
          margin: 0 0 3em;
          padding: 0 0 3em;
          border-bottom: 1px solid $lightGrey;

          &:last-child {
            margin: 0;
            padding: 0;
            border-bottom: none;
          }
        }

        .row {
          margin: 0;
          padding: 1em 0;
        }
      }
    }
  }
}

.sfPageEditor {
  .tabs__content .content__wrap {
    display: block;
  }
}