include ../../atoms/button/button
include ../../molecules/multi-filter/multi-filter
include ../../molecules/select-dropdown/select-dropdown
include ../../molecules/search/search

mixin list-filter(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.filter = spec.filter || ''

	.filter(class=spec.__class)&attributes(attributes)
		.filter-wrap
			each item, index in spec.filter
				if item.type == 'checkbox'
					+multi-filter(item.settings).category-filter

				if item.type == 'select'
					+select-dropdown(item.settings).sortby-filter

				if item.type == 'search'
					+search(item.settings).search-filter
			
			+button({
				'__text': 'Filter',
				'__type': 'button',
				'__class': 'btn--filter btn--bg'
			})
		
		//- .filter-btn
		//- 	+button({
		//- 		'__text': 'Filter',
		//- 		'__type': 'button',
		//- 		'__class': 'btn--filter btn--bg'
		//- 	})


			//- +select-dropdown({
			//- 	"input": {
			//- 		"id": "sortby",
			//- 		"label": "Sort By 2"
			//- 	},
			//- 	"options": [
			//- 		{
			//- 			'label': 'Popularity',
			//- 			'value': 'popularity'
			//- 		},
			//- 		{
			//- 			'label': 'Latest',
			//- 			'value': 'latest'
			//- 		}
			//- 	]
			//- }).sortby-filter2

