mixin share(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.share(class=spec.__class)&attributes(attributes)
		ul.share-wrap
			li.share-item
				a.share-link(href="#")
					i.icon.icon-facebook
			li.share-item
				a.share-link(href="#")
					i.icon.icon-twitter
			li.share-item
				a.share-link(href="#")
					i.icon.icon-linkedin
			li.share-item
				a.share-link(href="#")
					i.icon.icon-whatsapp
			li.share-item
				a.share-link(href="#")
					i.icon.icon-email
