extends _layouts/base

//- include ./_modules/button/button

block config
  - isHome = true
  - var pageTitle = 'Made For Families'
  - var page = 'homepage'
  - var site = htmlWebpackPlugin.options //global site data

block content
