//article-block styles 
.content-block {
  $p: &;

  padding: 2em 0 1em;

  @include tablet {
    padding: 3em 0;
  }

  @include desktop {
    padding: 3em 0;
  }

  &__main {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    aside {
      width: 100%;
      margin: 0 0 2em;
      border-bottom: 1px solid $grey;

      @include tablet {
        float: left;
        width: 10%;
        text-align: center;
        margin: 0;
        border-bottom: none;
      } 

      @include desktop {
        float: left;
        width: 10%;
        text-align: center;
        margin: 0;
        border-bottom: none;
      } 
    }

    article {
      width: 100%;

      @include tablet {
        float: right;
        width: 90%;
        padding: 0 2em;
      }

      @include desktop {
        float: right;
        width: 90%;
        padding: 0 4em;
      }
      
      .tags {
        margin: 2em 0 0;

        &-wrap {
          display: flex;
          font-size: calc-em(14px);
          font-weight: $medium;
          text-transform: uppercase;
          letter-spacing: 1px;

          .tags-title {
            margin: 0 10px 0 0;
          }

          .list {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
              display: inline-block;
              
              &:after {
                content: '/';
                display: inline-block;
                color: $negro;
                margin: 0 2px 0 6px;
              }

              &:last-child {
                &:after {
                  display: none;
                }
              }
            }

            &-link {
              transition: all .2s ease-in-out;
              color: $red;

              &:hover {
                @include desktop {
                  color: $orange;
                }
              }
            }
          }
        }
      }
    }
  }

  &.two-col-block {
    aside {
      display: none;
      width: 100%;
      margin: 0 0 2em;
      border-bottom: none;

      @include tablet {
        display: inline-block;
        float: left;
        width: 30%;
        margin: 0;
        border-bottom: none;
      } 

      @include desktop {
        display: inline-block;
        float: left;
        width: 20%;
        margin: 0;
        border-bottom: none;
      } 
    }

    article {
      width: 100%;

      @include tablet {
        float: right;
        width: 70%;
        padding: 0 0 0 2em;
      }

      @include desktop {
        float: right;
        width: 80%;
        padding: 0 0 0 4em;
      }
    }
  }
}