include ../../molecules/article-header/article-header
include ../../molecules/share/share

mixin article-block(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .content-block(class=spec.__class)&attributes(attributes)
    if spec.header
      +article-header({
        'title': spec.header.title,
        'subtitle': spec.header.subtitle,
        'masthead': spec.header.masthead,
        'imgTitle': spec.header.imgTitle
      })

    .content-block__main
      aside
        +share({
          'share': [
            {
              'social': 'facebook',
              'url': '#'
            },
            {
              'social': 'twitter',
              'url': '#'
            },
            {
              'social': 'linkedin',
              'url': '#'
            },
            {
              'social': 'whatsapp',
              'url': '#'
            },
            {
              'social': 'email',
              'url': '#'
            }
          ]
        })
      article
        if block
          block
        else
          | This is an example paragraph for the article-block module
        
        .tags
          .tags-wrap
            .tags-title Tags:
            .tags-list
              ul.list
                li.list-item
                  a.list-link(href='/listing-filter?tags=childdevelopment&sortby=latest&category=all&page=1') Child Development
                li.list-item
                  a.list-link(href='/listing-filter?tags=childeducation&sortby=latest&category=all&page=1') Child Education
