extends ../_layouts/base

include ../_modules/molecules/breadcrumbs/breadcrumbs
include ../_modules/molecules/title/title
include ../_modules/molecules/listing/listing

block config
	//- Correct base url pathing for this page
	- isHome = false
	- var pageTitle = 'Made For Families Stories'
	- var page = 'resources'
	- var site = htmlWebpackPlugin.options //global site data
	- var baseUrl = '../'

block content
	+breadcrumbs({
		'level1': 'Resources',
		'level1URL': '#',
		'level2': 'Made For Families Stories'
	})

	+title({
		'title': 'Made For Families Stories'
	})

	+listing({
		'endpoint': '/api/storiesListing.json',
		'filter': [
			{
				'type': 'checkbox',
				'settings': {
					"name": "category",
					"input": {
						"id": "category",
						"label": "Category",
						"value": "all",
						"valueText": "All"
					},
					"options": [
						{
							"id": "cat-op0",
							"value": "all",
							"label": "All"
						},
						{
							"id": "cat-op1",
							"value": "cat-op1",
							"label": "Community Support"
						},
						{
							"id": "cat-op2",
							"value": "cat-op2",
							"label": "Support for Marriage and Parenthood"
						},
						{
							"id": "cat-op3",
							"value": "cat-op3",
							"label": "Work-life Harmony"
						}
					]
				}
			},
			{
				'type': 'select',
				'settings': {
					"input": {
						"name": "sortby",
						"id": "sortby",
						"label": "Sort By"
					},
					"options": [
						{
							'label': 'Latest',
							'value': 'latest'
						},
						{
							'label': 'Popularity',
							'value': 'popularity'
						}
					]
				}
			}
		],
		'pagination': '/listing-filter'
	})

	+listingItem()