include ../../atoms/button/button
include ../../atoms/card/card
include ../../molecules/list-filter/list-filter
include ../../molecules/pagination/pagination

mixin listing(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.filter = spec.filter || ''

	.listing(class=spec.__class)&attributes(attributes)
		if spec.title
		.listing-title
			h2.title=spec.title

			if spec.desc
				p=spec.desc

		.listing-wrap(data-endpoint=spec.endpoint)
			if spec.filter
				+list-filter({
					'filter': spec.filter
				})
			
			.list
				.row
			
			if spec.pagination == true
				.pagination
					+pagination-api({
						"currentPage": 1,
						"totalPages": 10,
						"paddingSize": 2,
						"pageUrl": "/listing-filter"
					})
	
mixin listingItem(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	
	script(type="text/x-dot-template" id="listingItem")
		|{{? it}}
		|{{~ it.listing :item}}
		+card({
			'img': '{{= item.img}}',
			'imgTitle': '{{= item.imgTitle}}',
			'subtitle': '{{= item.subtitle}}',
			'title': '{{= item.title}}',
			'desc': '{{= item.desc}}',
			'details': '{{= item.details}}',
			'date': '{{= item.details.date}}',
			'shares': '{{= item.details.shares}}',
			'views': '{{= item.details.views}}',
			'url': '{{= item.url}}'
		}).col-md-6.col-sm-6.col-xs-12
		|{{~}}
		|{{?}}
