include ../../atoms/button/button
include ../../molecules/list-filter/list-filter
include ../../molecules/pagination/pagination

mixin listing(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.listing(class=spec.__class)&attributes(attributes)
		//- h1.title=spec.title
		.listing-wrap(data-endpoint=spec.endpoint)
			if spec.filter == true
				+list-filter()
			
			.list
				.row
			
			if spec.pagination == true
				.pagination
					+pagination-api({
						"currentPage": 1,
						"totalPages": 10,
						"paddingSize": 2,
						"pageUrl": "/listing-filter"
					})
	
mixin listingItem(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	
	script(type="text/x-dot-template" id="listingItem")
		|{{? it}}
		|{{~ it.listing :item}}
		.list-item.col-md-6.col-sm-6.col-xs-12
			.list-wrap
				.list-header
					img(src='{{= item.img}}' alt='{{= item.imgTitle}}' title='{{= item.imgTitle}}')
				.list-content
					.list-title
						.subtitle {{= item.subtitle}}
						.title {{= item.title}}
						.desc {{= item.desc}}
				
					.details-info
						.details
							span.date(data-time='{{= item.date}}') {{= item.date}} 
							span.shares {{= item.shares}} Shares
							span.views {{= item.views}} Views
						.cta
							+button({
								'__text': '',
								'__type': 'anchor',
								'__link': '{{= item.url}}',
								'__class': 'btn--listItem',
								'__iconAfter': 'icon-larrow-right'
							})
		|{{~}}
		|{{?}}
